<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      #mytable td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      {% comment %} #staffInfo tr:nth-child(even){background-color: #C5B4E3;}
      #staffInfo tr:{background-color: #C5B4E3;} {% endcomment %}
      
      #mytable tr:hover {background-color: #C5B4E3;}
      
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #800080;
        color: white;
      }

</style>


<table id="mytable">
<tr>
    <th>Date Issued</th>
    <th>Car Name</th>
    <th>Card Number</th>
    <th>Card Type</th>
    <th>Expiry Date</th>
    <th>Card Status</th>
    <th>Security Code</th>
    <th>Wallet</th>
    <th>Account</th>
            
</tr>

{% for card in cards %}
<tr>
    <td>{{card.date_Issued}}</td>
    <td>{{card.card_name}}</td>
    <td>{{card.card_number}}</td>
    <td>{{card.card_type}}</td>
    <td>{{card.expiry_date}}</td>
    <td>{{card.card_status}}</td>
    <td>{{card.cvv_security}}</td>
    <td>{{card.wallet}}</td>
    <td>{{card.account}}</td>
  
</tr>
{% endfor %}

</table>