<style>
    #box{
        background-color: lightpurple;
        width: 300px;
        border: 5px solid purple;
        padding: 50px;
        margin: 20px;
    }
</style>

<div id="box">
    <h2>{{card.card_name}}</h2>
    <h4>Date Issued: {{card.date_Issued}}</h4>
    <h4>Card Number: {{card.card_number}}</h4>
    <h4>Card Type: {{card.card_type}}</h4>
    <h4>Expiry Date: {{card.expiry_date}}</h4>
    <h4>Card Status: {{card.card_status}}</h4>
    <h4>Security Code: {{card.cvv_security}}</h4>
    <h4>Wallet: {{card.wallet}}</h4>
    <h4>Account: {{card.account}}</h4>
  
</div>