<style>
    #box{
        background-color: lightpurple;
        width: 300px;
        border: 5px solid purple;
        padding: 50px;
        margin: 20px;
    }
</style>
<div id="box">
    <h1>{{customer.first_name}}{{customer.last_name}}</h1>
    <img src="{{customer.profile_picture.url}}"/>
    <h2> Gender:{{customer.gender}}</h2>
    <h5>{{customer.address}}</h5>
    <h5>{{customer.age}}</h5>
    <h5>{{customer.email}}</h5>
    <h5>{{customer.phonenumber}}</h5>
    <h5>{{customer.pin}}</h5>
    <h5>{{customer.date_created}}</h5>
    <h5>{{customer.nationality}}</h5>   
</div>


















