<style>
    #box{
        background-color: lightpurple;
        width: 300px;
        border: 5px solid purple;
        padding: 50px;
        margin: 20px;
    }
</style>

<div id="box">
    <h2>Receipt Type: {{receipts.receipt_type}}</h2>
    <h2>Receipt Date: {{receipts.receipt_date}}</h2>
    <h2>Receipt Number: {{receipts.recipt_number}}</h2>
    <h2>Account: {{receipts.account}}</h2>
    <h2>Total Amount: {{receipts.total_Amount}}</h2>
    <h2>Receipt File: {{receipts.recipt_file}}</h2>

 
</div>