<style>
    #box{
        background-color: lightpurple;
        width: 300px;
        border: 5px solid purple;
        padding: 50px;
        margin: 20px;
    }
</style>

<div id="box">
    <h2>Transaction Ref: {{transaction.transaction_ref}}</h2>
    <h4>wallet: {{transaction.wallet}}</h4>
    <h4>Transaction Amount: {{transaction.transaction_amount}}</h4>
    <h4>Transaction Date: {{transaction.transaction_date}}</h4>
    <h4>Receipt: {{transaction.receipt}}</h4>
    <h4>Original Account: {{transaction.original_account}}</h4>
    <h4>Destination: {{transaction.destination_account}}</h4>
 
</div>