<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      #mytable td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      {% comment %} #staffInfo tr:nth-child(even){background-color: #C5B4E3;}
      #staffInfo tr:{background-color: #C5B4E3;} {% endcomment %}
      
      #mytable tr:hover {background-color: #C5B4E3;}
      
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #800080;
        color: white;
      }

</style>


<table id="mytable">
<tr>
    <th>Currency</th>
    <th>Customer</th>
    <th>Balance</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Status</th>
    <th>Pin</th>
    <th>Profile</th>
            
</tr>

{% for wallet in wallets %}
<tr>
    <td>{{wallet.currency}}</td>
    <td>{{wallet.customer}}</td>
    <td>{{wallet.balance}}</td>
    <td>{{wallet.amount}}</td>
    <td>{{wallet.date}}</td>
    <td>{{wallet.status}}</td>
    <td>{{wallet.pin}}</td>
    <td><a href="{%url 'wallet_profile' id=wallet.id%}">view Profile</a>
</tr>
{% endfor %}

</table>
 